.tab-bar{
  font-size: 16px;
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  margin-top: 3.2rem;
}
.tab-bar .tab-item{
  flex: 1;
  height: 2.25rem;
  line-height: 2.25rem;
  position: relative;
  color: #666;
  text-align: center;
  text-decoration: none;
}
.tab-bar .tab-item.active::after{
  content: '';
  display: block;
  height: .2rem;
  width: 3rem;
  position: absolute;
  bottom: 0;
  background-color: #ffd161;
  left: 50%;
  transform: translateX(-50%);
}